In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [4]:
mapstat_df = pd.read_csv("tournamentdata/old/Map Statistics.csv")
mapstat_df.head()

      Map  Total  Round 1  Round 2  Round 3  Playoffs
0  Ascent      6        1        0        1         4
1    Bind      7        2        1        1         3
2  Breeze      6        1        2        1         2
3  Icebox      7        2        2        1         2
4   Lotus      8        2        2        1         3

In [7]:
mapban_df = pd.read_csv("tournamentdata/old/Maps Banned.csv")
mapban_df.head()

      Map  Total  Round 1  Round 2  Round 3  Playoffs
0       -      2        0        0        0         2
1  Ascent     10        3        4        1         2
2    Bind      9        2        3        1         3
3  Breeze     10        3        2        1         4
4  Icebox      9        2        2        1         4

In [8]:
mapcent_df = pd.read_csv("tournamentdata/old/Side Statistics.csv")
mapcent_df.head()

,Map,Atk Wins Count,Atk Wins Percentage,Def Wins Count,Def Wins Percentage
0,Ascent,54,50.0,54,50.0
1,Bind,47,49.5,48,50.5
2,Breeze,56,55.4,45,44.6
3,Icebox,68,54.0,58,46.0
4,Lotus,98,54.7,81,45.3